In [1]:
import pandas as pd

In [2]:
data_dir = '/Volumes/Data/Row_Data'
load_file = 'kpx_power_demand_addTemp_2023.csv'

In [4]:
url = f'{data_dir}/{load_file}'
df_data = pd.read_csv(url,  parse_dates=['date_time'], index_col = 'date_time' )
df_data

,value,base_time,temp,weekday,month,day,hr,temp_boundary
date_time,,,,,,,,
2023-01-01 00:00:00,64322,2023-01-01 00:00:00,-3,6,1,2023-01-01,0,1
2023-01-01 01:00:00,61879,2023-01-01 01:00:00,-3,6,1,2023-01-01,1,1
2023-01-01 02:00:00,60133,2023-01-01 02:00:00,-3,6,1,2023-01-01,2,1
2023-01-01 03:00:00,59170,2023-01-01 03:00:00,-4,6,1,2023-01-01,3,1
2023-01-01 04:00:00,58813,2023-01-01 04:00:00,-4,6,1,2023-01-01,4,1
...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,62902,2023-12-31 19:00:00,1,6,12,2023-12-31,19,1
2023-12-31 20:00:00,62061,2023-12-31 20:00:00,0,6,12,2023-12-31,20,1
2023-12-31 21:00:00,61403,2023-12-31 21:00:00,0,6,12,2023-12-31,21,1
2023-12-31 22:00:00,61891,2023-12-31 22:00:00,-1,6,12,2023-12-31,22,1
2023-12-31 23:00:00,62125,2023-12-31 23:00:00,-1,6,12,2023-12-31,23,1

In [9]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2023-01-01 00:00:00 to 2023-12-31 23:00:00
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   value            8760 non-null   int64
 1   base_time        8760 non-null   object
 2   temp             8760 non-null   int64
 3   day              8760 non-null   object
 4   month_1          8760 non-null   bool
 5   month_2          8760 non-null   bool
 6   month_3          8760 non-null   bool
 7   month_4          8760 non-null   bool
 8   month_5          8760 non-null   bool
 9   month_6          8760 non-null   bool
 10  month_7          8760 non-null   bool
 11  month_8          8760 non-null   bool
 12  month_9          8760 non-null   bool
 13  month_10         8760 non-null   bool
 14  month_11         8760 non-null   bool
 15  month_12         8760 non-null   bool
 16  weekday_0        8760 non-null   bool
 17  weekday_1        8760 non-null   bool
 18  weekday_2        8760 non-null   bool
 19  weekday_3        8760 non-null   bool
 20  weekday_4        8760 non-null   bool
 21  weekday_5        8760 non-null   bool
 22  weekday_6        8760 non-null   bool
 23  hr_0             8760 non-null   bool
 24  hr_1             8760 non-null   bool
 25  hr_2             8760 non-null   bool
 26  hr_3             8760 non-null   bool
 27  hr_4             8760 non-null   bool
 28  hr_5             8760 non-null   bool
 29  hr_6             8760 non-null   bool
 30  hr_7             8760 non-null   bool
 31  hr_8             8760 non-null   bool
 32  hr_9             8760 non-null   bool
 33  hr_10            8760 non-null   bool
 34  hr_11            8760 non-null   bool
 35  hr_12            8760 non-null   bool
 36  hr_13            8760 non-null   bool
 37  hr_14            8760 non-null   bool
 38  hr_15            8760 non-null   bool
 39  hr_16            8760 non-null   bool
 40  hr_17            8760 non-null   bool
 41  hr_18            8760 non-null   bool
 42  hr_19            8760 non-null   bool
 43  hr_20            8760 non-null   bool
 44  hr_21            8760 non-null   bool
 45  hr_22            8760 non-null   bool
 46  hr_23            8760 non-null   bool
 47  temp_boundary_1  8760 non-null   bool
 48  temp_boundary_2  8760 non-null   bool
 49  temp_boundary_3  8760 non-null   bool
 50  temp_boundary_4  8760 non-null   bool
 51  temp_boundary_5  8760 non-null   bool
 52  temp_boundary_6  8760 non-null   bool
dtypes: bool(49), int64(2), object(2)
memory usage: 761.4+ KB

In [10]:
df_data = pd.get_dummies(df_data, columns = ['month', 'weekday', 'hr', 'temp_boundary'])
df_data = df_data.drop( columns=['base_time', 'temp', 'day'] )
df_data

,value,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,...,hr_20,hr_21,hr_22,hr_23,temp_boundary_1,temp_boundary_2,temp_boundary_3,temp_boundary_4,temp_boundary_5,temp_boundary_6
date_time,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,64322,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2023-01-01 01:00:00,61879,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2023-01-01 02:00:00,60133,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2023-01-01 03:00:00,59170,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2023-01-01 04:00:00,58813,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,62902,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2023-12-31 20:00:00,62061,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False
2023-12-31 21:00:00,61403,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
2023-12-31 22:00:00,61891,False,False,False,False,False,False,False,False,False,...,False,False,True,False,True,False,False,False,False,False
2023-12-31 23:00:00,62125,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False

In [ ]:
df_data.info