In [1]:
import pandas as pd

In [7]:
data_dir = '/Volumes/Data/Row_Data'
load_file = 'kpx_powerDemand_2013_2023_v2.csv'
url = f'{data_dir}/{load_file}'

df_data = pd.read_csv(url, parse_dates=['date_time'], index_col='date_time')
df_data

,demand,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,...,hr_15,hr_16,hr_17,hr_18,hr_19,hr_20,hr_21,hr_22,hr_23,temp
date_time,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00,60178,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-6.3
2013-01-01 01:00:00,57862,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-5.9
2013-01-01 02:00:00,56165,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-6.6
2013-01-01 03:00:00,55135,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-6.7
2013-01-01 04:00:00,54450,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,-6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,62902,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,1.5
2023-12-31 20:00:00,62061,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,1.1
2023-12-31 21:00:00,61403,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.8
2023-12-31 22:00:00,61891,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.2
2023-12-31 23:00:00,62125,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,-0.4

In [11]:
df_data.temp.ffill(inplace=True)
df_data.temp.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 96408 entries, 2013-01-01 00:00:00 to 2023-12-31 23:00:00
Series name: temp
Non-Null Count  Dtype
--------------  -----
96408 non-null  float64
dtypes: float64(1)
memory usage: 1.5 MB

/var/folders/r5/124yntwj1n7_xfgvd8f6pzv40000gn/T/ipykernel_4821/1359757110.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_data.temp.ffill(inplace=True)

In [13]:
def temp_boundary(x):
    if x <=4:
        return 1      
    elif x > 4 and x <=8:
        return 2
    elif x > 8 and x <=24:
        return 3 
    elif x > 24 and x <= 28:
        return 4    
    elif x > 28 and x <= 32:
        return 5    
    else:
        return 6


df_data['temp'] = df_data['temp'].map(temp_boundary)
df_data

,demand,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,...,hr_15,hr_16,hr_17,hr_18,hr_19,hr_20,hr_21,hr_22,hr_23,temp
date_time,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00,60178,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
2013-01-01 01:00:00,57862,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
2013-01-01 02:00:00,56165,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
2013-01-01 03:00:00,55135,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
2013-01-01 04:00:00,54450,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,62902,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,1
2023-12-31 20:00:00,62061,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,1
2023-12-31 21:00:00,61403,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,1
2023-12-31 22:00:00,61891,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,1
2023-12-31 23:00:00,62125,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,1

In [15]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 96408 entries, 2013-01-01 00:00:00 to 2023-12-31 23:00:00
Data columns (total 45 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   demand     96408 non-null  int64
 1   month_1    96408 non-null  bool
 2   month_2    96408 non-null  bool
 3   month_3    96408 non-null  bool
 4   month_4    96408 non-null  bool
 5   month_5    96408 non-null  bool
 6   month_6    96408 non-null  bool
 7   month_7    96408 non-null  bool
 8   month_8    96408 non-null  bool
 9   month_9    96408 non-null  bool
 10  month_10   96408 non-null  bool
 11  month_11   96408 non-null  bool
 12  month_12   96408 non-null  bool
 13  weekday_0  96408 non-null  bool
 14  weekday_1  96408 non-null  bool
 15  weekday_2  96408 non-null  bool
 16  weekday_3  96408 non-null  bool
 17  weekday_4  96408 non-null  bool
 18  weekday_5  96408 non-null  bool
 19  weekday_6  96408 non-null  bool
 20  hr_0       96408 non-null  bool
 21  hr_1       96408 non-null  bool
 22  hr_2       96408 non-null  bool
 23  hr_3       96408 non-null  bool
 24  hr_4       96408 non-null  bool
 25  hr_5       96408 non-null  bool
 26  hr_6       96408 non-null  bool
 27  hr_7       96408 non-null  bool
 28  hr_8       96408 non-null  bool
 29  hr_9       96408 non-null  bool
 30  hr_10      96408 non-null  bool
 31  hr_11      96408 non-null  bool
 32  hr_12      96408 non-null  bool
 33  hr_13      96408 non-null  bool
 34  hr_14      96408 non-null  bool
 35  hr_15      96408 non-null  bool
 36  hr_16      96408 non-null  bool
 37  hr_17      96408 non-null  bool
 38  hr_18      96408 non-null  bool
 39  hr_19      96408 non-null  bool
 40  hr_20      96408 non-null  bool
 41  hr_21      96408 non-null  bool
 42  hr_22      96408 non-null  bool
 43  hr_23      96408 non-null  bool
 44  temp       96408 non-null  int64
dtypes: bool(43), int64(2)
memory usage: 6.2 MB

In [17]:

data_dir = '/Volumes/Data/Row_Data'
save_file = 'kpx_powerDemand_2013_2023_v3.csv'
url = f'{data_dir}/{save_file}'

df_data.to_csv(url)